* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to top left, #c31432, #240b36);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 90%;
  max-width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  position: relative;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.game::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;

  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.player {
  flex: 1;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
}

.active-player {
  background-color: rgb(223, 195, 195);
}

.name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 300;
}

.score {
  font-size: 6rem;
  color: #cc3750;
  margin-bottom: 3rem;
}

.current {
  background-color: #cc3750;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 9px;
  text-align: center;
  width: 220px;
}

.current-label {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.current-score {
  font-size: 2.5rem;
  font-weight: 300;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-family: inherit;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;

  cursor: pointer;
}

.dice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.dice {
  width: 150px;
  height: 100px;

  object-fit: contain;
  margin: 20px auto;
  display: block;
}

.dice-container {
  text-align: center;
}

.btn--new {
  top: 40px;
}

.btn--roll {
  top: 60%;
}

.btn--hold {
  top: 72%;
}

.message {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  font-weight: bold;
  color: #444;
}
